@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: white;
  background: #1053f3;
  font-family: var(--font-inter);
}

.search-input {
  font-size: 14px;
  color: #000000;
  line-height: 24px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 40px 40px 40px 40px;
  border-width: 0px 0px 0px 0px;
  border-style: solid solid solid solid;
  border-color: #e2e2e2 #e2e2e2 #e2e2e2 #e2e2e2;
  text-align: center;
  height: 100%;
  width: 100%;
  display: inline-block;
  z-index: 1;
  margin: 0px;
  position: relative;
  min-height: 55px;
  max-width: none;
}

.search-input::placeholder {
  color: rgba(0, 0, 0, 0.637);
}

.search-input:focus::placeholder {
  color: white;
}
.search-button {
  background-color: #c7f2ab;
  border-radius: 100px 100px 100px 100px;
  border-width: 0px 0px 0px 0px;
  border-style: groove groove groove groove;
  border-color: #333 #333 #333 #333;
  font-size: 18px;
  font-weight: 700;
  color: #000000ff;
  line-height: 28px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  position: relative;
  min-width: 165px;
  min-height: 55px;
  max-width: none;
}

.search-input:focus {
  outline: none !important;
  border: 1px solid rgb(10, 81, 204);
}

:root {
  touch-action: pan-x pan-y;
  height: 100%;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
  textarea,
  input {
    font-size: 16px;
  }
}
.user-info .info-item:not(:last-child) {
  border-bottom: 1px solid #e5e7eb; 
  padding-bottom: 0.75rem;
}

.container {
  max-width: 100%;
  overflow-x: hidden;
}

.text-wrap {
  word-break: break-word; 
  overflow-wrap: break-word; 
  white-space: normal; 
}

